.card {
  height: 220px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s;
  overflow: hidden;
  text-align: center;
}

.card:hover {
  background: #f1f1f1;
  transform: translateY(-8px);
}

.title {
  background: #999;
  color: white;
  width: 100%;
  text-align: center;
  padding: 5px;
}
