.navbar {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #ddd;
  height: 48px;
  box-shadow: 0px 1px 8px 0px rgb(0, 0, 0, 0.2);
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.menu {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

.menu li a {
  width: fit-content;
  padding: 0;
  margin-right: 20px;
  list-style: none;
  color: #444;
  transition: tranform 0.3s, color 0.3s;
}

.menu li a:hover {
  transform: translateY(-40px);
  color: #777;
}

.wrapper {
  min-height: calc(100vh - 120px);
}
